.fl-contact-form textarea, .fl-contact-form input[type="text"], .fl-contact-form input[type="tel"], .fl-contact-form input[type="email"] {
	display: inline-block;
	width: 100%;
	border: 1px solid #ddd;
	padding: 5px 10px;
	font-size: 13px;
	color: #373737;
	border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  html, body {
      overflow-x: hidden;
  }
}
